.mdl-layout__drawer
        header PINEAPPLE
          nav.mdl-navigation
            a.mdl-navigation__link.mdl-navigation__link--current(href='index.html')
              i.material-icons(role='presentation') dashboard
              |                 Accueil
            .sub-navigation
              a.mdl-navigation__link
                i.material-icons view_comfy
                |                     Mon compte
                i.material-icons keyboard_arrow_down
              .mdl-navigation
                a.mdl-navigation__link(href='ui-buttons.html')
                  | Buttons
                a.mdl-navigation__link(href='ui-cards.html')
                  | Cards
                a.mdl-navigation__link(href='ui-colors.html')
                  | Colors
                a.mdl-navigation__link(href='ui-components.html')
                  | Components
                a.mdl-navigation__link(href='ui-icons.html')
                  | Icons
                a.mdl-navigation__link(href='ui-typography.html')
                  | Typography
            a.mdl-navigation__link(href='forms.html')
              i.material-icons(role='presentation') person
              |                 Mes objets 3D
            a.mdl-navigation__link(href='maps.html')
              i.material-icons(role='presentation') map
              |                 Communauté
            a.mdl-navigation__link(href='charts.html')
              i.material-icons multiline_chart
              |                 Charts
            .mdl-layout-spacer
            a.mdl-navigation__link(href='https://github.com/CreativeIT/getmdl-dashboard')
              i.material-icons(role='presentation') link
              |                 GitHub
  