.mdl-layout__drawer
  header PINEAPPLE
  nav.mdl-navigation
      a.mdl-navigation__link.mdl-navigation__link(href='/')
        i.material-icons(role='presentation') dashboard
        |                 Index
      if (user)
        a.mdl-navigation__link(href='/')
          i.material-icons(role='presentation') person
          |                 My account
        a.mdl-navigation__link(href='/myObjects')
          i.material-icons(role='presentation') map
          |                 My 3D objects
      a.mdl-navigation__link(href='/')
        i.material-icons multiline_chart
        |                 Community
      .mdl-layout-spacer
  