extends ./layout.pug

block content
	main.mdl-layout__content
		.mdl-card.mdl-shadow--2dp.employer-form(action='#')
			.mdl-card__title
				h2 Form
				.mdl-card__subtitle Please complete the form
			.mdl-card__supporting-text
				form.form(action='#')
				.form__article
					h3 Personal data
					.mdl-grid
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						input#firstName.mdl-textfield__input(type='text', value='Luke')
						label.mdl-textfield__label(for='firstName') First name
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						input#secondName.mdl-textfield__input(type='text', value='Skywalker')
						label.mdl-textfield__label(for='secondName') Second name
					.mdl-grid
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						input#birthday.mdl-textfield__input(type='text', value='25 May, 1977')
						label.mdl-textfield__label(for='birthday') Birthday
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select
						input#gender.mdl-textfield__input(value='Male', type='text', readonly='', tabindex='-1')
						label.mdl-textfield__label(for='gender') Gender
						ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.dark_dropdown(for='gender')
						li.mdl-menu__item Male
						li.mdl-menu__item Female
						label(for='gender')
						i.mdl-icon-toggle__label.material-icons arrow_drop_down
				.form__article
					h3 Employment
					.mdl-grid
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						input#company.mdl-textfield__input(type='text', value='CreativeIT', disabled='')
						label.mdl-textfield__label(for='company') Company
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						input#company_email.mdl-textfield__input(type='text', value='hello@creativit.io', disabled='')
						label.mdl-textfield__label(for='company_email') Company email
					.mdl-grid
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
						input#position.mdl-textfield__input(type='text', value='Lead developer')
						label.mdl-textfield__label(for='position') Position
					.mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select
						input#qualification.mdl-textfield__input(value='Senior', type='text', readonly='', tabindex='-1')
						label.mdl-textfield__label(for='qualification') Qualification
						ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.dark_dropdown(for='qualification')
						li.mdl-menu__item Young Padawan
						li.mdl-menu__item Junior
						li.mdl-menu__item Middle
						li.mdl-menu__item Senior
						label(for='qualification')
						i.mdl-icon-toggle__label.material-icons arrow_drop_down
					span Type of employment:
					label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='partition-fulltime')
					input#partition-fulltime.mdl-radio__button(type='radio', name='employment', value='1', checked='')
					span.mdl-radio__label Fulltime
					label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='partition-partTime')
					input#partition-partTime.mdl-radio__button(type='radio', name='employment', value='2')
					span.mdl-radio__label Part time
					label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='partition-remote')
					input#partition-remote.mdl-radio__button(type='radio', name='employment', value='3')
					span.mdl-radio__label Remote
				.form__article.employer-form__contacts
					h3 Contacts
					.mdl-grid
					.mdl-cell.mdl-cell--9-col.input-group
						i.material-icons.pull-left call
						.mdl-textfield.mdl-js-textfield.pull-left
						input#phone.mdl-textfield__input(type='text')
						label.mdl-textfield__label(for='phone') XXX-XX-XX
					.mdl-cell.mdl-cell--3-col.mdl-textfield.mdl-js-textfield.getmdl-select
						input#phone_type.mdl-textfield__input(value='Mobile', type='text', readonly='', tabindex='-1')
						ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.dark_dropdown(for='phone_type')
						li.mdl-menu__item Mobile
						li.mdl-menu__item Home
						li.mdl-menu__item Work
						label(for='phone_type')
						i.mdl-icon-toggle__label.material-icons arrow_drop_down
					.mdl-grid
					.mdl-cell.mdl-cell--9-col.input-group
						img(src='images/skype.svg')
						.mdl-textfield.mdl-js-textfield.pull-left
						input#skype.mdl-textfield__input(type='text', value='Pilot_luke')
						label.mdl-textfield__label(for='skype') Skype
					.mdl-cell.mdl-cell--3-col.mdl-textfield.mdl-js-textfield.getmdl-select
						input#skype_type.mdl-textfield__input(value='Personal', type='text', readonly='', tabindex='-1')
						ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.dark_dropdown(for='skype_type')
						li.mdl-menu__item Personal
						li.mdl-menu__item Work
						label(for='skype_type')
						i.mdl-icon-toggle__label.material-icons arrow_drop_down
					.mdl-grid
					.mdl-cell.mdl-cell--9-col.input-group
						i.material-icons.pull-left mail_outline
						.mdl-textfield.mdl-js-textfield.pull-left
						input#email.mdl-textfield__input(type='text', value='luke@skywalker.com')
						label.mdl-textfield__label(for='email') Email
					.mdl-cell.mdl-cell--3-col.mdl-textfield.mdl-js-textfield.getmdl-select
						input#email_type.mdl-textfield__input(value='Work', type='text', readonly='', tabindex='-1')
						ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.dark_dropdown(for='email_type')
						li.mdl-menu__item Personal
						li.mdl-menu__item Work
						label(for='email_type')
						i.mdl-icon-toggle__label.material-icons arrow_drop_down
					.mdl-grid
					.mdl-cell.mdl-cell--9-col.input-group
						i.material-icons.pull-left place
						.mdl-textfield.mdl-js-textfield.pull-left
						input#address.mdl-textfield__input(type='text')
						label.mdl-textfield__label(for='address') Address
					.mdl-cell.mdl-cell--3-col.mdl-textfield.mdl-js-textfield.getmdl-select
						input#address_type.mdl-textfield__input(value='Home', type='text', readonly='', tabindex='-1')
						ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.dark_dropdown(for='address_type')
						li.mdl-menu__item Home
						li.mdl-menu__item Work
						label(for='address_type')
						i.mdl-icon-toggle__label.material-icons arrow_drop_down
				.form__article.employer-form__general_skills
					h3 General skills
					.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					textarea#AboutMe.mdl-textfield__input(type='text', rows='3')
					label.mdl-textfield__label(for='AboutMe') About me
				.form__action
					label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='isInfoReliable')
					input#isInfoReliable.mdl-checkbox__input(type='checkbox', required='')
					span.mdl-checkbox__label Entered information is reliable
					button#submit_button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
					| Submit
