
mixin objectPreview(object)
  .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title
        h2.mdl-card__title-text #{object.objectname}
      .mdl-card__supporting-text
        form.form(role='form', action='/objectdetail', method='post')
          .form__article
            .mdl-grid
              p #{object.description} 
              input#objectId(type='hidden', name='objectId', value=object._id)
          .form__action
            button#submit_button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit')
              | More details

