extends ./layout.jade

block content
    main.mdl-layout__content
        .mdl-grid.mdl-grid--no-spacing
            .mdl-grid.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone.mdl-cell--top
                .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
                    .mdl-card.mdl-shadow--2dp
                        .mdl-card__title
                            h2.mdl-card__title-text #{object.objectname}
                        .mdl-card__supporting-text
                            