//- register.pug

extends ./layout.pug

block content
  main.mdl-layout__content.mdl-color--grey-100
    .mdl-card.mdl-shadow--2dp.employer-form(action='#')
      .mdl-card__title
        h2 Register
      .mdl-card__supporting-text
        form.form(role='form', action="/register",method="post")
          .form__article
            .mdl-grid
              .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#identifiant.mdl-textfield__input(type='text', name="username")
                label.mdl-textfield__label(for='identifiant') Username
              .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#mail.mdl-textfield__input(type='email' name="mail")
                label.mdl-textfield__label(for='mail') Email
            .mdl-grid
              .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#password.mdl-textfield__input(type='password', name="password")
                label.mdl-textfield__label(for='password') Password
              .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#password_check.mdl-textfield__input(type='password')
                label.mdl-textfield__label(for='password_check') Confirm password
          .form__action
            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='isInfoReliable')
              input#isInfoReliable.mdl-checkbox__input(type='checkbox', required='')
              span.mdl-checkbox__label I accept the terms of use
            button#submit_button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit')
              | Register

