.mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
  .mdl-card.mdl-shadow--2dp
    .mdl-card__title
      h2.mdl-card__title-text Upload a new object
    .mdl-card__supporting-text
      form.form(role='form', action='/processobjectupload', method='post', enctype='multipart/form-data')
        .form__article
          .mdl-grid
            .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input#objectName.mdl-textfield__input(type='text', name='objectName', required, autofocus)
              label.mdl-textfield__label(for='objectName') Name
          .mdl-grid
            .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input#objectDescription.mdl-textfield__input(type='text', name='objectDescription', required, autofocus)
              label.mdl-textfield__label(for='objectDescription') Description
          .mdl-grid
            .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              .mdl-textfield.mdl-js-textfield.mdl-textfield--file
                input#uploadFileObject.mdl-textfield__input(placeholder='3D Model', type='text', readonly='')
                .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
                  i.material-icons attach_file
                  input#uploadBtnObject(type='file', name='object', accept='.obj', required)
          .mdl-grid
            .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              .mdl-textfield.mdl-js-textfield.mdl-textfield--file
                input#uploadFileMaterial.mdl-textfield__input(placeholder='Material', type='text', readonly='')
                .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
                  i.material-icons attach_file
                  input#uploadBtnMaterial(type='file', name='material', accept='.mtl')
        .form__action
          button#submit_button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit')
            | Submit

script.
      document.getElementById("uploadBtnObject").onchange = function () {
      document.getElementById("uploadFileObject").value = this.files[0].name;
      };

      document.getElementById("uploadBtnMaterial").onchange = function () {
      document.getElementById("uploadFileMaterial").value = this.files[0].name;
      };